// flower memory
$c-aurora: #C03B46;				
$c-pompei: #A82E45;				
$c-amber: #A76050;				
$c-winter: #F4EBD8;				
$c-inkjade: #3A3D3F;			
// main
$bg-color: $c-winter;		 	
$text-color: $c-inkjade;	 	
$accent-color: $c-aurora;	 	
$link-color: $c-pompei;		 	
$selection-color: $c-inkjade; 	
// reverse
$bg-color-i: $c-amber;		 	
$text-color-i: $c-winter;	 	
$accent-color-i: #f5f7f8;	 	
$link-color-i: #ccc;	 
$selection-color-i: white; 

body {
	background-color: $bg-color;
}

section.theme-color {
	background-color: $bg-color;
	h1 {
		color: $text-color;
	}
	a {
		color: $link-color;
		&:hover {
			color: $selection-color;
		} 
	}
}
section.inverse-color {
	background-color: $bg-color-i;
	h1 {
		color: $text-color-i;
	}
	a {
		color: $link-color-i;
		&:hover {
			color: $selection-color-i;
		}
	}
}